@media only screen and (min-width: 800px) {
    #userImage {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .right>#about_me,
    .right>#skill,
    .right>#res,
    .right>#contact {
        padding: 3rem;
        /* padding-top: 9rem; */
        margin: 0px;
        margin-top: 0px;
    }

    #title {
        display: none;
    }

    right-desc {
        font-size: 1.75rem;
    }

    #userImage>.snip1113 {
        display: initial;
    }

    #text-email {
        word-spacing: -2px;
    }
}

@media only screen and (max-width: 561px) {
#text-email {
        word-spacing: -3px;
    }
}