@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

:root {
    --main-dark-blue-color: #181823;
    --bg-blue-color: #3f64bc;
    --cyan-color: #C0EEF2;
    --font-white-color: #E9F8F9;
    --font-heading-color: #03001C;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    height: 100%;
}

.left {
    display: flex;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-dark-blue-color);
    /* border: 1px solid black; */
    flex-grow: 1;
    height: 100vh;
    margin: 0px;
}

.right {
    display: flex;
    background-color: var(--bg-blue-color);
    /* border: 1px solid black; */
    flex-grow: 4;
    flex-direction: column;

    background-image: url("../img/modern/Morioh\ Sky\ Texture_Blue.avif");
    background-repeat: no-repeat;

}

/* .profile {
    margin-top: 40px; *
    padding-bottom: 30px;
} */

/* .pfp {
    background-image: url("../img/modern/Morioh\ Sky\ Texture_Blue.avif");
} */

.profile img {
    width: 250px;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding: 35px;
    padding-top: 37px;
}

.buttons {
    /* border: 2px solid rebeccapurple; */
    /* flex-grow: 1; */
    /* margin: 10px; */
    /* font-family: 'Neucha', cursive; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    flex-grow: 1;
    color: var(--font-white-color);
}

a {
    color: var(--font-white-color);
    text-decoration: none;
}

#title {
    font-family: 'Playfair Display', serif;
    font-size: 69px;
    color: aliceblue;
    padding: 250px 100px;
}

#title p {
    font-size: 0.5em;
    color: #242423;
}

#title span {
    background-color: #242423;
}

#title p span {
    background-color: aliceblue;
}

.right #about_me {
    margin-top: 300px;
    padding: 100px;
    padding-bottom: 0px;
}

.desc {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Nunito Sans', sans-serif;
    padding: 100px;
    font-size: 1.5em;
    padding-right: 10px;
    padding-bottom: 0px;
    color: var(--font-heading-color);
}

#contact {
    padding-bottom: 60px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

/* div p{
    font-size: 1em;
} */

right-desc {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    color: var(--font-white-color);
}

.email,
.phone {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--font-white-color);
    /* border: 1px solid #242423; */
    /* display: flex; */
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.btn {
    /* width: 3.5em;
    height: 2.5em;
    padding-bottom: 20px; */

    /* background-color: black;
    padding: 12px 16px;
    font-size: 16px; */
}

.icons {
    font-size: 30px;
}

button{
    background-color: var(--bg-blue-color);
    border: none;
}

button:hover{
    color: var(--font-white-color);
}